coverage[toml]
colorlog
codespell==2.4.2
mypy==2.1.0
pre-commit==4.6.0
pytest-cov
pytest-sugar
pytest-timeout
pytest-asyncio<1.0
pytest-xdist
pytest
python-slugify
zigpy>=0.65.2
ruff==0.15.15
looptime>=0.7
freezegun
coloredlogs
uv>=0.11.16